.nav {
  grid-area: n;
  background-color: burlywood;
  padding: 15px;
  border-top: 10px solid white;
  
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  color: blue;
}

